@media only screen and (max-width: 992px) {
    .services {
        .services-list {
            display: grid;
            gap: 50px;
            grid-template-columns: repeat(2, 1fr);
        }
        .services-subtitle {
            max-width: none;
        }
        .services-descr {
            max-width: none;
        }
    }
    .footer {
        .footer-middle {
            gap: 10px;
            grid-template-columns: repeat(2, 1fr);
            .footer-column {
                padding: 30px 0;
                &:last-child::before {
                    display: none;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .get-started {
        .get-started-title {
            font-size: 40px;
            line-height: 50px;
        }
    }
}
@media (max-width: 576px) {
    .hero {
        .hero-title {
            font-size: 54px;
            line-height: 65px;
        }
    }
    .services {
        padding: 50px 0;
        .services-list {
            display: grid;
            gap: 30px;
            grid-template-columns: repeat(1, 1fr);
        }
    }
    .footer {
        .footer-middle {
            gap: 10px;
            grid-template-columns: repeat(1, 1fr);
        }
        .footer-bottom {
            flex-direction: column;
        }
    }
}
@media (max-width: 375px) {
    .header {
        .logo {
            width: 75%;
        }
    }
    .hero {
        padding-bottom: 0;
        padding-top: 120px;
        min-height: 656px;
        .hero-title {
            font-size: 45px;
            line-height: 55px;
        }
    }
    .footer {
        .footer-mail {
            font-size: 20px;
        }
    }
}
